@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Teko', sans-serif;
    background-color: #efecec;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23484848' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.logoap{
    position: fixed;
    display: inline-block;
    background-color: rgb(12, 12, 95);
    border-style: none;
    padding: 0%;
    width: 10%;
}

.contenedor{
    width: 95%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    text-align: center;
}

.header{
    height: 100vh;
    background-image: url(../img/unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/* Login */

.login-box{
    background-color: rgba(158, 158, 158, 0.103);
    border-radius: 5%;
    width: 20%;
    position: absolute;
    top: 45%;
    left:0%;
    color: white;
  }
  .login-box h1{
    float: left;
    margin-left: 4%;
    font-size: 40px;
    border-bottom: 6px solid #572b2b;
    margin-bottom: 50px;
    padding: 13px 0;
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #572b2b;
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: rgb(253, 253, 253);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
  
 /* menu */
.menu1{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #7a2929 0%, #000000 100%);
    background-image: linear-gradient(135deg, #611f1f 0%, #242028 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.782);
}
.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.titulo{
    font-size: 90px;
    margin-bottom: 15px;
}

.copia{
    font-size: 70px;
}

/*  */

.subtitulo{
    color: #660d0d;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

/*Skills*/

.front-habilidades, .front-habilidades-back{

    position: relative;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 35px;
    
    
}

.container {
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
  }

.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #660d0d , #660d0d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: .5s;
  margin-right: .5rem;
}
.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.03);
  pointer-events: none;
  z-index: 1;
}
.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 30px 60px rgba(0,0,0,0.2);
}
.box .percent, .box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  z-index: 1000;
}
.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  --stroke-dasharray: 440;
  --stroke-dashoffset: 440;
}
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 35)/ 100);
  stroke: #ffa200;
}
.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 30)/ 100);
  stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 20)/ 100);
  stroke: #bdd80c;
}
.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.box .percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}
.box .percent .number h2 span {
  color: #777;
  font-size: 24px;
  transition: 0.5s;
}
.card:hover .percent .number h2 span {
  color: #fff;
}
.box .text {
  position: relative;
  margin-top: 20px;
  color: #777;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
.card:hover .text {
  color: #fff;
}


/* footer*/

footer{
    background: #3b393b;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}


.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.linea{
    width: 35%;
    max-width: 1200px;
    margin: auto;
    height: 4px;
    background: rgb(49, 47, 47);
    margin-bottom: 60px;
}

.anio{
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: none;
}

.social-media-icon:hover{
    background: #fff;
    color:#660d0d;
}

/* Acerca de*/




.service p{
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}


/* tamaños de pantalla*/

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .row{
        padding: auto;
        margin: auto;
        background-color: #00000014;
        border: 1px solid rgba(0, 0, 0, 0.63);
    }
    
    
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .menu1{
        top: 20px;
        right: 20px;
    }

    .login-box{
        width: 20px;
        font-size: small;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }


    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}
